@import 'base/variables';

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/features';
@import 'blocks/solutions';
@import 'blocks/advantages';
@import 'blocks/expand';
@import 'blocks/access';
@import 'blocks/footer';
@import 'blocks/buttons';

@import 'lib/animate';
@import 'lib/slick';

.container {
    width: 1140px;
    margin: 0 auto;
}

.anchor {
    position: fixed;
    display: none;
    bottom: 20px;
    right: 30px;
    z-index: 3;
    cursor: pointer;
    animation: 2s bounceInDown;
    
}

* {
    font-family: "Roboto", sans-serif;
}