.solutions {
    height: 889px;
    position: relative;
    padding: 79px 0 0 0;
    background: url('../images/second_bg.jpg') center (center/cover) no-repeat;

    &_title {
        color: #ffffff;
        font-size: 30px;
        font-weight: 600;
        line-height: 35.99px;
        text-align: center;
        margin: 0;
    }
    &_breakline {
        width: 1px;
        height: 49px;
        margin: 5px 28px 5px 0;
        background-color: gray;
    }

    ul {
        align-items: center;
        margin: 25px auto 0 auto;
        display: flex;
        list-style-type: none;
        border: 1px solid white;
        border-radius: 6px;
        list-style-type: none;
        justify-content: center;
        width: 843px;
        li {
            margin-right: 28px;
            a {
                color: #ffffff;
                font-size: 14px;
                font-weight: 400;
                line-height: 25.99px;
                text-decoration: none;
            }
        }
    }
    &_macbook {
        display: block;
        margin: 35px auto 0 auto;
    }
    &_slider {
        position: absolute;
        display: flex;
        &_item {
            img {
            width: 695px;
            height: 436px;
            }
        }
    }
    .slick-slider {
        top: -523px;
        right: -19.55%;
    }
    .slick-prev {
        border: none;
        background:rgba(0,0,0,0);
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 110%;
    }
    .slick-next {
        border: none;
        background:rgba(0,0,0,0);
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 27%;
    }
    .container {
        height: 100%;

    }

}
